@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Tangerine', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ffeb3b, #e91e63);
}

section h2 {
  position: relative;
  text-align: center;
  font-size: 160px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: -150px;
  z-index: 2;
}

section h5 {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: -10px;
  z-index: 2;
}

section h3 {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  z-index: 2;
}

section .family {
  position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  margin-top: 50px;
  z-index: 2;
}

section h2::before {
  content: '';
  position: absolute;
  top: -44px;
  left: -100px;
  width: 200px;
  height: 200px;
  background: transparent;
  border-left: 15px solid #fff;
  border-radius: 50%;
  transform: rotate(-30deg);
  box-shadow: -14px 1px 10px rgba(0, 0, 0, 0.1);
}

.masjid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: url(../img/mosque.png);
  background-repeat: repeat-x;
  background-size: 1200px;
  z-index: 1;
  pointer-events: none;
  animation: animate 10s linear infinite;
  opacity: 0.7;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1200px;
  }
}

.masjid::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: url(../img/mosque.png);
  background-repeat: repeat-x;
  background-size: 1600px;
  opacity: 0.1;
  z-index: 1;
  pointer-events: none;
  animation: animateReverse 10s linear infinite;
}

@keyframes animateReverse {
  0% {
    background-position: 1600px;
  }
  100% {
    background-position: 0px;
  }
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 576px) {
  section {
    width: 100%;
    height: 100vh;
  }
  section h2 {
    font-size: 40px;
  }
  section h2::before {
    content: '';
    position: absolute;
    top: -44px;
    left: 10px;
    width: 100px;
    height: 100px;
    background: transparent;
    border-left: 15px solid #fff;
    border-radius: 50%;
    transform: rotate(-30deg);
    box-shadow: -14px 1px 10px rgba(0, 0, 0, 0.1);
  }
  section h5 {
    font-size: 20px;
    margin-top: 5px;
  }
  section h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  section h2 {
    font-size: 100px;
  }
  section h2::before {
    content: '';
    position: absolute;
    top: -44px;
    left: -40px;
    width: 150px;
    height: 150px;
    background: transparent;
    border-left: 15px solid #fff;
    border-radius: 50%;
    transform: rotate(-30deg);
    box-shadow: -14px 1px 10px rgba(0, 0, 0, 0.1);
  }
  section h5 {
    font-size: 40px;
  }
  section h3 {
    font-size: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  section h2 {
    font-size: 130px;
  }
  section h2::before {
    content: '';
    position: absolute;
    top: -44px;
    left: -40px;
    width: 200px;
    height: 200px;
    background: transparent;
    border-left: 15px solid #fff;
    border-radius: 50%;
    transform: rotate(-30deg);
    box-shadow: -14px 1px 10px rgba(0, 0, 0, 0.1);
  }
  section h5 {
    font-size: 40px;
  }
  section h3 {
    font-size: 40px;
  }
}
